body{
    background-color: tan;
}

fieldset{
    width: 40%;
    height: 690px;
    margin-left: 40px;
    margin-top: -130px;
    background-color:aliceblue;
    border-radius: 50px;
    border-style: groove;
}
.sports{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.heading{
    font-size:x-large;
    text-align: center;
}

.favorite-sports{
    font-family: 'Times New Roman', Times, serif;
    font-size:21px;
   /* margin-left: 200px; */
}
